<!DOCTYPE html>
<html>
<head>
  <title>SocialCrow |  <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container" style="padding-top: 80px;">
	<% flash.each do |key, value| %>
     <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
	<%= yield %>	
	
	<div id="response">
	
	</div>
	<%= render 'layouts/footer' %>
</div>


</body>
</html>
<%= javascript_include_tag "application" %>
